@model IEnumerable<TimmApp.Models.Event>
    @{
        ViewBag.Title = "Index";
    }
    <link href="~/Content/calendar_green.css" rel="stylesheet" />
    <script src="~/Scripts/daypilot-all.min.js" type="text/javascript"></script>

<div class="col-lg-12">
    @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
{
    BackendUrl = Url.Content("~/Event/Backend"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    Days = 7,
    Theme = "calendar_green",
    EventMoveHandling = DayPilot.Web.Mvc.Events.Calendar.EventMoveHandlingType.CallBack,
    TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Calendar.TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "dpc.timeRangeSelectedCallBack(start, end, null, { name: prompt('New Event Name:', 'New Event') });"

})

</div>



