@{
    ViewBag.Title = "Support";
}
<style>
    body {
        background: #39040B;
    }

    .listView {
        color: #B86E7A;
    }

    h2 {
        color: #B86E7A;
    }
</style>

<div class="container">
    <div class="col-md-12">
        <div class="listView">
            <h2>Dear Timm user,</h2><br />
            <p>If you have some problems, or any questions call:</p> 
            <h3>+46 (0)762085581</h3>
            <br />
            <p>You can also send us an email, which takes about 2 weeks to answer:</p>
     
            <h3>timmsupport@gmail.com</h3>
        </div>
    </div>
</div>