@{
    ViewBag.Title = "Home Page";
}

<style>
    
    .navbar-inverse {
        visibility: hidden;
    }
</style>
<div class="jumbotron">
    <img src="~/Content/Images/reallogo.png" />
</div>  

<div class="startContainer">
    <div class="row">
        <div class="col-lg-6">
            @Html.ActionLink("Employees", "Index", "Employee", null, new { @class = "btn btn-green" })
        </div>

        <div class="col-lg-6">
            @Html.ActionLink("Postboard", "Index", "Post", null, new { @class = "btn btn-blue"})
        </div>

        <div class="col-lg-6">
            @Html.ActionLink("Calendar", "Index", "Event", null, new { @class = "btn btn-brown" })
        </div>

        <div class="col-lg-6">
            @Html.ActionLink("Contracts", "Contact", "Home", new { @class = "btn btn-purple" })
        </div>
    </div>
</div>

